<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Xin chào ${bill.customer.fullName}</h1><br>
Thông tin đơn hàng:<br>
Nơi giao hàng: ${bill.addressShipping.toString()}<br>
Số điện thoại: ${bill.customer.phone}<br>
Thời gian đặt mua: ${bill.displayDate()}<br>
Bạn hãy Click vào Link dưới đây để xác nhận đơn hàng<br>
<a href="${linkConfirm}">Link xác nhận</a>
#{list items:bill.clothesOrderList,as:'clothesOrder'}
<!--
Làm giống trang view.bill.html nhưng bỏ cột xóa.
-->
#{/list}
</body>
</html>