<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xem thông tin đơn hàng</title>
</head>
<body>

<!--header-->
#{include 'layout/top.header.html'/}
<!--End header-->

<!--banner-->
<div class="banner-top">
    <div class="container">
        <h1>Bill</h1>
        <em></em>
        <h2><a href="index.html">Bill</a><label>/</label><a>Đăng nhập</a></h2>
    </div>
</div>
<!--End banner>

<!--Bill-->
#{set totalPriceNoPoint:bill.getTotalPriceNoPoint()/}
<div class="container">
    <h1 class="text_bill">Thông tin giao hàng</h1>
    <em class="em"></em>
    <div class="col-lg-4"></div>
    <div class="col-lg-6">
        <table>
            <tr>
                <td>
                    <form class="form-horizontal" action="Confirm-bill.html" role="form">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Số nhà: </label>
                            <div class="col-sm-8">
                                <input type="text" name="num"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Đường: </label>
                            <div class="col-sm-8">
                                <input type="text" name="ward"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Quận/Huyện: </label>
                            <div class="col-sm-8">
                                <input type="text" name="district"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Tỉnh thành </label>
                            <div class="col-sm-8">
                                <input type="text" name="city"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Số điểm đang có: </label>
                            <div class="col-sm-8">${customer.point}</div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Số điểm quy đổi: </label>
                            <div class="col-sm-8">
                                <input type="text" onchange="onChangePoint()" id="usePoint" name="usePoint" value="0">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Tổng số tiên thanh
                                toán: </label>
                            <div class="col-sm-8">
                                <span id="totalPrice">${bill.getTotalPrice()}</span></div>
                        </div>
                        <input type="submit" value="Mua hàng">
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <script>
        function onChangePoint() {
            var totalPriceNoPoint = parseFloat(${totalPriceNoPoint});
            $("#totalPrice").html(totalPriceNoPoint - parseInt($("#usePoint").val()) * 1000);
        }
    </script>
    <div class="col-lg-2"></div>
</div>
<div class="container">
    <hr/>
    <table class="table table-bordered border_tb">
        <h1 class="text_bill">Danh sach mat hang</h1>
        <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Type</th>
            <th>Size</th>
            <th>Material</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Color</th>
            <th>Publisher <br/> name</th>
            <th>Total Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        #{list items:bill.clothesOrderList,as:'clothesOrder'}
        <tr class="success">
            #{set clothes:clothesOrder.clothes/}
            <td><img src="${clothes.image}"></td>
            <td>${clothes.title}</td>
            <td>${clothes.type}</td>
            <td> ${clothes.size}</td>
            <td>${clothes.material}</td>
            <td>${clothes.price}</td>
            <td>${clothesOrder.quantity}</td>
            <td>${clothes.color}</td>
            <td>${clothes.publisher.name}</td>
            <td>
            ${clothesOrder.displayPrice()}
            </td>
            <td>
                <a href="Delete-from-bill.html?id=${clothes.id}">Xóa</a>
            </td>
        </tr>
        <tr>
            <td style="color: #FF4040"> Khuyến mại:</td>
            <td colspan="7">
                #{set currentTime:new Date().getTime().asdate('yyyy-MM-dd hh:mm:ss.S').toString()/}
                #{if currentTime>clothes.deal.timeStart.toString() && currentTime<clothes.deal.timeStop.toString()}
                    #{if clothes.deal.sale>0}
                        Giảm giá ${clothes.deal.sale}% chỉ còn ${clothes.price * (100 - clothes.deal.sale) / 100}<br>
                    #{/if}
                    #{if clothes.deal.voucher>0}
                        Tặng Voucher trị giá ${clothes.deal.voucher}<br>
                    #{/if}
                    Thời gian kết thúc khuyến mại: ${clothes.deal.timeStop.toString()}
                #{/if}
                #{else}
                    Không có chương trình khuyến mại.
                #{/else}
            </td>
            <td colspan="3">Giá sau khi giảm:<br>
            ${clothesOrder.displayPriceAfterSale()}
            </td>
        </tr>
        #{/list}
        </tbody>
    </table>
    <style>
        .border_tb tr td {
            color: black;
        }

        .form-group {
            color: black;
        }
    </style>
*{Thong tin giao hang}*

</div>

<!--Bill-->
<!--brand-->
<div class="container">
    <div class="brand">
        <div class="col-md-3 brand-grid">
            <img src="@{'/public/images/ic.png'}" class="img-responsive" alt=""/>
        </div>
        <div class="col-md-3 brand-grid">
            <img src="@{'/public/images/ic1.png'}" class="img-responsive" alt=""/>
        </div>
        <div class="col-md-3 brand-grid">
            <img src="@{'/public/images/ic2.png'}" class="img-responsive" alt=""/>
        </div>
        <div class="col-md-3 brand-grid">
            <img src="@{'/public/images/ic3.png'}" class="img-responsive" alt=""/>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--end brand-->

<!--//footer-->
<div class="footer">
    <div class="footer-middle">
        <div class="container">
            <div class="col-md-3 footer-middle-in">
                <a href="index.html">
                    <img src="@{'/public/images/log1.png'}" alt=""/>
                </a>
                <p>“Thời trang rất quan trọng, nó khiến cuộc sống này trở nên tốt đẹp hơn. Và cũng giống như những điều
                    tuyệt vời khác, thời trang xứng đáng được bạn đầu tư công sức chăm chút cẩn thận”</p>
            </div>
            <div class="col-md-3 footer-middle-in">
                <h6>Thông tin</h6>
                <ul class=" in">
                    <li><a href="404.html">Liên hệ</a></li>
                    <li><a href="contact.html">Quy định</a></li>
                    <li><a href="contact.html">Bản đồ</a></li>
                </ul>
                <ul class="in in1">
                    <li><a href="#">Lịch sử đặt hàng</a></li>
                    <li><a href="wishlist.html">Danh sách yêu thích</a></li>
                    <li><a href="Login.html">Đăng nhập</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-3 footer-middle-in">
                <h6>Tags</h6>
                <ul class="tag-in">
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Sed</a></li>
                    <li><a href="#">Ipsum</a></li>
                    <li><a href="#">Contrary</a></li>
                    <li><a href="#">Chunk</a></li>
                    <li><a href="#">Amet</a></li>
                    <li><a href="#">Omnis</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-middle-in">
                <h6>Hòm thư góp ý</h6>
                <span>Đăng ký để gửi thư</span>
                <form>
                    <input type="text" value="Enter your E-mail" onfocus="this.value='';"
                           onblur="if (this.value == '') {this.value ='Enter your E-mail';}">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <ul class="footer-bottom-top">
                <li><a href="#">
                    <img src="@{'/public/images/f1.png'}" class="img-responsive" alt=""/>
                </a></li>
                <li><a href="#">
                    <img src="@{'/public/images/f2.png'}" class="img-responsive" alt=""/>
                </a></li>
                <li><a href="#">
                    <img src="@{'/public/images/f3.png'}" class="img-responsive" alt=""/>
                </a></li>
            </ul>
            <p class="footer-class">&copy; 8/4/2016 clothes shop. All Rights Reserved | Design by <a
                    href="http://w3layouts.com/" target="_blank">No name</a></p>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//footer-->
</body>
</html>