<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xem sản phẩm</title>
</head>

*{${clothes.title}<br>}*
*{<img src="${clothes.image}" width="100px">}*
*{Bán bởi: ${clothes.publisher.name}<br>}*
*{Giá bán: ${clothes.price}<br>}*
*{Khuyến mại:<br>}*
*{#{set currentTime:new Date().getTime().asdate('yyyy-MM-dd hh:mm:ss.S').toString()/}}*
*{#{if currentTime>clothes.deal.timeStart.toString() && currentTime<clothes.deal.timeStop.toString()}}*
*{#{if clothes.deal.sale>0}}*
*{Giảm giá ${clothes.deal.sale}% chỉ còn ${clothes.price * (100 - clothes.deal.sale) / 100}<br>}*
*{#{/if}}*
*{#{if clothes.deal.voucher>0}}*
*{Tặng Voucher trị giá ${clothes.deal.voucher}<br>}*
*{#{/if}}*
*{Thời gian kết thúc khuyến mại: ${clothes.deal.timeStop.toString()}}*
*{#{/if}}*
*{#{else }}*
*{Không có chương trình khuyến mại.}*
*{#{/else}}*
*{<br>}*
*{Size: ${clothes.size}<br>}*
*{Màu sắc: ${clothes.color}<br>}*
*{Chất liệu: ${clothes.material}<br>}*
*{Loại: ${clothes.type}<br>}*
*{#{if clothes.quantity>0}}*
*{còn hàng}*
*{#{/if}}*
*{#{else}}*
*{hết hàng}*
*{#{/else}}*
*{<br>}*
*{Mô tả sản phẩm: <br>}*
*{${clothes.description}}*

<body>
<!--header-->
#{include 'layout/top.header.html'/}
<!--End header-->

<!--banner-->
<div class="banner-top">
    <div class="container">
        <h1>Chi tiết sản phẩm</h1>
        <em></em>
        <h2><a href="index.html">Trang chủ</a><label>/</label><a>Đăng nhập</a></h2>
    </div>
</div>
<!--End banner>


<!--single-->
<div class="single">

    <div class="container">
        <div class="col-md-12">
            <div class="col-md-4 grid">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="${clothes.image}">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6 single-top-in">
                <div class="span_2_of_a1 simpleCart_shelfItem">
                    <h3>${clothes.title}</h3>
                    <p class="in-para"> Bán bởi: ${clothes.publisher.name}</p>
                    <div class="price_single">
                        <span class="reducedfrom item_price">Giá bán: ${clothes.price}</span>
                        <div class="clearfix"></div>
                    </div>
                    <h4 class="quick">Khuyến mại:</h4>
                    <p class="quick_desc">
                    #{set currentTime:new Date().getTime().asdate('yyyy-MM-dd hh:mm:ss.S').toString()/}
                    #{if currentTime>clothes.deal.timeStart.toString() && currentTime<clothes.deal.timeStop.toString()}
                        #{if clothes.deal.sale>0}
                            Giảm giá ${clothes.deal.sale}% chỉ còn ${clothes.price * (100 - clothes.deal.sale) / 100}
                            <br>
                        #{/if}
                        #{if clothes.deal.voucher>0}
                            Tặng Voucher trị giá ${clothes.deal.voucher}<br>
                        #{/if}
                        Thời gian kết thúc khuyến mại: ${clothes.deal.timeStop.toString()}
                    #{/if}
                    #{else }
                        Không có chương trình khuyến mại.
                    #{/else}</p>
                    <p class="in-para"> Size: ${clothes.size}<br>
                        Màu sắc: ${clothes.color}<br>
                        Chất liệu: ${clothes.material}<br>
                        Loại: ${clothes.type}<br>
                    #{if clothes.quantity>0}
                        còn hàng
                    #{/if}
                    #{else}
                        hết hàng
                    #{/else}
                        <br>
                        Mô tả sản phẩm: <br>
                    ${clothes.description}</p>
                    <form id="frmAddToBill" action="../Bill/Add-to-bill.html" method="post">
                        <div class="wish-list">
                            <ul>
                                <li class="wish"><a href="javascript:addToBillSubmit()" type="float: none">
                                    <img src="@{'/public/images/tick1.png'}" class="img-responsive" alt=""/>
                                    </span>Thêm vào giỏ hàng</a></li>
                                <li class="compare"><a href="#"><span class="glyphicon glyphicon-resize-horizontal"
                                                                      aria-hidden="true">Yêu thích</span></a></li>
                            </ul>
                        </div>
                        <div class="quantity">
                            <div class="quantity-select">
                                <div id="minus" class="entry value-minus">&nbsp;</div>
                                <div class="entry value">
                                    <span id="spanQuantity">1</span>
                                    <input type="hidden" id="quantity" name="quantity" value="1"/>
                                    <input type="hidden" name="id" value="${clothes.id}">
                                </div>
                                <div id="plus" class="entry value-plus active">&nbsp;</div>
                            </div>
                            <script>
                                $("#minus").click(function () {
                                    var quantity = parseInt($("#quantity").val());
                                    if (quantity >= 2) {
                                        quantity = quantity - 1;
                                    }
                                    $("#quantity").val(quantity);
                                    $("#spanQuantity").html(quantity);
                                })
                                $("#plus").click(function () {
                                    var quantity = parseInt($("#quantity").val());
                                    quantity = quantity + 1;
                                    $("#quantity").val(quantity);
                                    $("#spanQuantity").html(quantity);
                                })
                            </script>
                        </div>
                    </form>
                    <script>
                        function addToBillSubmit() {
                            $("#frmAddToBill").submit();
                        }
                    </script>
                </div>
                <!--end single-->
            </div>
        </div>
    </div>
</div>
<!--end single-->

</body>

</html>