<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang đăng nhập</title>
</head>
<body>
<h1> Đăng nhập</h1>

<form class="dangnhap" action="Login.html" method="post">
    <input type="text" value="Username" size="20" name="username">
    <br>
    <input type="password" value="Password" size="20" name="pwd">
    <br>
    <input type="submit" value="Đăng nhập">
    <ul>
        <li><a href="#">Đăng ký </a></li>
        <li><a href="#">Quên mật khẩu</a></li>
    </ul>
</form>
</body>
</html>