<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Trang đăng nhập</title>
</head>
<body>
<h1> Đăng nhập</h1>

<form class="dangnhap" action="Login.html" method="post">
    <input type="text" placeholder="Username" size="20" name="username">
    <br>
    <input type="password" placeholder="Password" size="20" name="pwd">
    <br>
    <input type="submit" value="Đăng nhập">
    <br>
    <input type="button" value="Đăng ký" onclick="window.location = 'Register-form.html'">
</form>
</body>
</html>