<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang đăng ký</title>
</head>
<body>
<h1>Đăng ký</h1>
<input type="text" name="username" size="20" value="Username">
<br>
<input type="password" name="pwd" size="20" value="Password">
<br>
<input type="text" name="email" size="20" value="Email">
<br>
<input type="text" name="phone" size="20" value="Phone">
<br>
<input type="text" name="address" size="40" value="Address">
<br>
<input type="radio" name="name" onmousemove="window.status='BIDV';">BIDV
<input type="radio" name="name" onmousemove="window.status='Agribank';">Agribank
<input type="radio" name="name" onmousemove="window.status='techcombak';"> Techcombank
<br>
<input type="text" name="cardNumber" size="20" value="Card number">
<br>
<input type="radio" name="cardType" onmousemove="window.status='Master';">Master
<input type="radio" name="cardType" onmousemove="window.status='Visa';"> Visa

</body>
</html>