<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Hien thi thong tin</title>
</head>
<body>
<p>Tên khách hàng: </p>
<p>Mã khách hàng:</p>
<p>Tên tài khoản: </p>
<p>Email: </p>
<p>Phone: </p>
<p>Địa chỉ: </p>
<p>Điểm tích lũy: </p>
<p>Ngân hàng giao dịch: </p>
<p>Mã thẻ: </p>
<p>Loại thẻ: </p>
<p> ${customer.fullName}</p>
<p> ${customer.id}</p>
<p> ${customer.username}</p>
<p> ${customer.email}</p>
<p> ${customer.phone}</p>
<p>  ${customer.address}</p>
<p>${customer.point}</p>
<p>${customer.bank.name} </p>
<p>${customer.bank.cardNumber}</p>
<p>${customer.bank.cardType}</p>
</body>
</html>